<%- include("header3"); -%>

<section class="articles">
  <div class="container-fluid row">
    <div class="col-md-12 contain">
      <div class="card about">
        <div class="card-body">
          <h2 class="card-title">About</h2>
          <p class="card-text text"><%= content %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("footer"); -%>
