<%- include("header"); -%>

<section class="authorization">
    <div class="login-form-box">
      <form action="/login" method="post">
        <h2 class="login">Login</h2>
        <div class="login-input">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="text" name="username" placeholder="email" autocomplete="off">
        </div>
        <div class="login-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" name="password" placeholder="password" autocomplete="off">
        </div>
        <button type="submit" class="login-button" name="button">Login</button>
      </form>
    </div>
</section>

<%- include("footer"); -%>
