<%- include("header3"); -%>

<section class="authorization">
  <div class="register-form-box">
    <form action="/register" method="post">
      <h2 class="register">Register</h2>
      <div class="register-input">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="text" name="username" placeholder="email" autocomplete="off">
      </div>
      <div class="register-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" name="password" placeholder="password" autocomplete="off">
      </div>
      <button class="register-button" type="submit" name="button">Register</button>
    </form>
  </div>
</section>

<%- include("footer"); -%>
